@model IEnumerable<rezerviraj.si.Models.Rezervacija>

@{
    ViewData["Title"] = "Vse rezervacije";
}

<div class="container pt-5">

    <h1>Vse rezervacije</h1>

    @if (Model.Count() == 0) {
        <p>Ni še nobene rezervacije</p>
    } else {
        @foreach (var rezervacija in Model)
        {
            @Html.Raw(rezervacija); <br>
        }
    }
    
</div>