@model IEnumerable<rezerviraj.si.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-5">

    <h1>Vse rezervacije</h1>

    @foreach (var rezervacija in Model)
    {
        @Html.Raw(rezervacija);
    }
    
</div>