<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Opis nase aplikacije</h1>
            <hr>
            <p style="text-align: justify !important;">Lorem, ugh ipsum dolor sit amet consectetur adipisicing elit. Voluptates odit fugit, nulla sapiente suscipit autem,
                culpa quis molestiae repudiandae sint, consectetur ipsa expedita harum veritatis! Deleniti sit totam cupiditate
                delectus!</p>
            <p style="text-align: justify !important;">Lorem is the best ipsum dolor sit amet consectetur adipisicing elit. Atque dolorem dolorum vitae est animi et dignissimos
                corrupti aperiam ea adipisci minus, quod quibusdam non amet quisquam ipsum in nemo maxime.</p>
            <p style="text-align: justify !important;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum blanditiis neque laborum iusto est facere necessitatibus similique ex consequuntur possimus deserunt corrupti facilis culpa veniam maiores molestias velit, assumenda voluptatum?</p>
        </div>
    </div>
</div>