<div class="container pt-5">
    <h1>Opis nase aplikacije</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates odit fugit, nulla sapiente suscipit autem,
        culpa quis molestiae repudiandae sint, consectetur ipsa expedita harum veritatis! Deleniti sit totam cupiditate
        delectus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolorem dolorum vitae est animi et dignissimos
        corrupti aperiam ea adipisci minus, quod quibusdam non amet quisquam ipsum in nemo maxime.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum blanditiis neque laborum iusto est facere necessitatibus similique ex consequuntur possimus deserunt corrupti facilis culpa veniam maiores molestias velit, assumenda voluptatum?</p>
</div>