@model rezerviraj.si.Models.Restavracija

@{
    ViewData["Title"] = "Home Page";
}

<div class="search-area">
    <div class="inner">
        <form asp-action="Search" class="row g-3 rounded-pill">
            <div class="col-lg-5">
                <select class="form-select form-select-lg mb-3" asp-for="Lokacija.Drzava"
                required asp-items="ViewBag.Drzave"></select>
            </div>
            <div class="col-lg-5">
                <select class="form-select form-select-lg mb-3" asp-for="Lokacija.Kraj"
                required asp-items="ViewBag.Kraji">
                </select>
            </div>
            <div class="col-lg-2">
                <input type="submit" class="btn btn-primary btn-lg w-100 rounded-pill" value="Išči" />
            </div>
        </form>
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="panel d-flex align-items-center">
            <div class="row w-100">
                <div class="col-md-6 mb-4">
                    <h1 class="display-2 mb-2">Za restavracije</h1>
                    <h3 style="font-size: 20px; font-weight: 400;">
                        Priložnost za širitev poslovanja z našo pomočjo
                    </h3>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                    <div class="row w-100">
                        <div class="col">
                            <div class="d-grid gap-2">
                                <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">
                                    Registracija
                                </a>
                            </div>

                        </div>
                        <div class="col">
                            <div class="d-grid gap-2">
                                <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">
                                    Prijava
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--
<div class="container my-5">
    <h1 class="display-2 mb-5">Popularne restavracije</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        
    </div>
</div>
-->

<footer class="border-top footer text-muted bg-dark p-3">
    <div class="container">
        &copy; 2021 - rezerviraj.si - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<style>
    .panel {
        min-height: 500px;
    }

    a {
        text-decoration: none;
    }
</style>