@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Prijava restavracije</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">Prijava</button>
                        Še nimaš računa?
                        <a asp-area="Identity" asp-page="/Account/Register">Registracija</a>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Pozabljeno geslo?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<style>
    a {
        text-decoration: none;
    }
</style>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
